@import 'define/index.css';

.no-drag {
    -webkit-app-region: no-drag !important;
}
.drag {
    -webkit-app-region: drag !important;
}

a {
  text-decoration: none;
  background: 0 0;
  color: #666;
}
a:link,
a:visited,
a:active {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #666;
  opacity: 0.89;
}

a img {
  border: 0;
  vertical-align: top;
}


#root {
    width: 100vw;
    height: 100vh;
    background-color: #fcfcfc;
}
