.systemButtons {
  display: flex;
  height: 30px;
  width: 48px;
  background: transparent;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #ccc;
}
.systemButtons:hover {
  background: rgba(0, 0, 0, 0.1);
}
.systemButtons.systemButtonsClose:hover {
  background: rgba(255, 0, 0, 0.8);
}
