.bgc {
  background-color: #0056C1;
}
.mainHeader {
  height: 30px;
  padding: 0 0 0 15px;
}
.optionsHover {
}
.optionsHover:hover {
}
.logoText {
  margin: 0;
  padding: 0 15px;
  font-size: 16px;
  opacity: 0.8;
  color: #fefefe;
  font-weight: normal;
  line-height: normal;
}
.systemButtons {
  display: flex;
  height: 30px;
  width: 48px;
  background: transparent;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #ccc;
  &:hover {
    background: rgba(0,0,0, .1);
  }
}

.systemButtonsClose {
  &:hover {
    background: rgba(255,0,0, .8);
  }
}