/* 基本间距 s xm m xl l */
$spaces: 0, 5, 8, 10, 15, 16, 20, 24, 25, 30, 32, 35, 40;

/* 公共字体颜色 */
$textColors: 000, 333, 666, 999, fff, ccc, ddd;

/* 公共字体大小 */
$textFonts: 12, 14, 16, 18, 20, 24, 28, 32;

/* 公共背景颜色 */
$backgroundColors: 000, 333, 666, 999, fff, ccc, ddd;
