# !**/.eslintrc*
node_modules
dist
public
*.svg
*.ico
*.json
.gitignore
*.md
*.log
*.lock
.vsocde/
.xeajs

# prettier
*.prettierrc.*
.eslintrc.js
src/**.js
src/**/**.js
config.js
typings
index.js

!src/*.js
xeajs

