# !**/.eslintrc*
node_modules
package
dist
public
*.svg
*.ico
*.json
.gitignore
*.md
*.log
*.lock
.vsocde/
.xea

# prettier
*.prettierrc.*
.eslintrc.js
src/**.js
src/**/**.js
config.js
typings
types
index.js

