# darwin
arch=x64
target_arch=x64
# windows
# arch=ia32
# target_arch=ia32
registry=https://r.npm.taobao.org/
electron_mirror=https://npm.taobao.org/mirrors/electron/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
