# darwin
arch=x64
target_arch=x64
# windows
# arch=ia32
# target_arch=ia32
registry=https://registry.npmmirror.com/
electron_mirror=https://registry.npmmirror.com/binary.html?path=electron/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
