.cardList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.cardItem {
  width: 280px;
  height: 180px;
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #dadada;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.cardItem:hover {
  border-color: #1890ff;
}
.cardItemFirst {
  border-style: dashed;
  border-color: #999;
  flex-direction: column;
  color: #666;
  cursor: pointer;
}
.cardItemFirst:hover {
  color: #1890ff;
}
.badgeInner {
  background-color: #fff;
}
