.settings {}
.settings .ant-tabs .ant-tabs-left-content {
  padding: 0;
}
.settings .ant-tabs .ant-tabs-left-bar {
  border-right: 1px solid #fff;
  position: relative;
}

.settings .ant-tabs .ant-tabs-left-bar::after {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.06);
}

.setting-box {
  padding: 15px;
  background-color: transparent !important;
}
