/** postcss 变量 基于 scss 语法 */
/* 字体大小 */
$fontSizes: 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 50, 60, 64, 70, 80;
/* 字体颜色 */
$fontColors: 000, 111, 222, 333, 444, 555, 666, 777, 888, 999, fff, ccc, ddd, ff000;
/* 基本间距 s xm m xl l */
$spaces: 0, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 50, 60, 64, 70, 80;
/* 公共背景颜色 */
$backgroundColors: 000, 111, 222, 333, 444, 555, 666, 777, 888, 999, fff, ccc, ddd, ff000;

/** css3 变量, 于 postcss 变量混用  */

:root {
  --red: red;
}
