.menu-box {
  padding: 15px;
  width: 48px;
  margin-bottom: 0;
}
.menu-item {
}
.menu-active {
  opacity: 1;
  color: #1790ff;
}

.TooltipStyle .ant-tooltip-inner {
  background-color: #def3ff;
  color: #1790ff;
}
.TooltipStyle .ant-tooltip-arrow:before {
  background-color: #def3ff;
  color: #1790ff;
}
